<h2>Template: <small>Dinámicos</small></h2>
<hr>

<form (ngSubmit)="guardar()"
      #miFormulario="ngForm"
      autocomplete="off"
>
  <!-- Nombre -->
  <div class="mb-3 row">
    <label for="">Nombre</label>
    <div class="col-sm-9">
      <input type="text"
             class="form-control"
             placeholder="Nombre de la persona"
             [ngModel]="persona.nombre"
             name="nombre"
             required
             minlength="3"

      >
      <span class="form-text text-danger"
        *ngIf="miFormulario.controls['nombre']?.errors && miFormulario.controls['nombre']?.touched"
       >Debe de ser de 3 letras</span>
    </div>
  </div>

  <!-- Agregar favorito -->
  <div class="mb-3 row">
    <label class="col-sm-3 col-form-label">Agregar</label>
    <div class="col-sm-9">
      <div class="input-group">
        <input
          type="text"
          class="form-control"
          placeholder="Agregar favorito"
          [(ngModel)]="nombreJuego"
          name="nombreJuego"
          (keyup.enter)="agregar()"
        >
        <button class="btn btn-outline-primary" type="button" (click)="agregar()">
          Agregar
        </button>
      </div>
    </div>
  </div>

  <!-- Lista de juego favoritos-->
  <div class="mb-3 row">
    <label for="" class="col-sm-3 col-form-label">Favoritos</label>
    <div class="col-sm-9">
      <div class="input-group mb-1" *ngFor="let juego of persona.favoritos; let i = index">
        <input
          class="form-control"
          [(ngModel)]="juego.nombre"
          [name]= "juego.nombre"
        >
        <button class="btn btn-outline-danger" type="button" (click)="eliminar(i)">
          Eliminar
        </button>
      </div>
    </div>
  </div>

  <div class=" row">
    <div class="col-sm-9">
      <button
        type="button"
        class="btn btn-primary float-end"
        [disabled]="miFormulario.invalid"
        (click)="guardar()">
        Guardar
      </button>
    </div>
  </div>

</form>

<span>Persona</span>
<pre>{{persona |json}}</pre>
