<h2>Template</h2>
<hr>

<ul class="list-group">
  <li
    class="list-group-item"
    *ngFor="let route of templateMenu"
    routerLink="{{route.ruta}}"
    routerLinkActive="active"
  >
    {{route.texto}}
  </li>
 </ul>

<h2>Reactive</h2>
<hr>

<ul class="list-group">
  <li
    class="list-group-item"
    *ngFor="let route of reactiveMenu"
    routerLink="{{route.ruta}}"
    routerLinkActive="active"
  >
    {{route.texto}}
  </li>
 </ul>
