<h2>Reactivos: Basicos</h2>
<hr>

<div class="row">
  <div class="col">
    <form
      [formGroup]="miFormulario"
      autocomplete="off">
      <!-- Campo del producto -->
      <div class="mb-3 row">
        <label class="col-sm-3 col-form-label">Producto</label>
        <div class="col-sm-9">
          <input
            type="text"
            class="form-control"
            formControlName="nombre"
            placeholder="Nombre del producto"
          >
          <span class="form-text text-danger"
                *ngIf="campoEsValido('nombre')"  
          >Debe de ser de 3 letras</span>
        </div>
      </div>

      <!-- Precio del producto -->
      <div class="mb-3 row">
        <label class="col-sm-3 col-form-label">Precio</label>
        <div class="col-sm-9">
          <input
            type="number"
            class="form-control"
            formControlName="precio"
             
          >
          <span class="form-text text-danger"
                *ngIf="campoEsValido('precio')"  
          >El precio debe de ser 0 o mayor</span>

        </div>
      </div>

      <!-- Campo de existencias-->
      <div class="mb-3 row">
        <label class="col-sm-3 col-form-label">Existencias</label>
        <div class="col-sm-9">
          <input
            type="number"
            class="form-control"
            placeholder="Existencias del producto"
            formControlName="existencias" 
             
          >
          <span class="form-text text-danger"
                *ngIf="campoEsValido('existencias')"  
          >El precio debe de ser 0 o mayor</span>
        </div>
      </div>

      <div class="row">
        <div class="col">
          <button
            type="submit"
            class="btn btn-primary float-end"
            [disabled]="miFormulario.invalid"
          >
            Guardar
          </button>
        </div>
      </div>

    </form>
  </div>
</div>

 <div class="row">
  <div class="col">
    <span>Valid</span>
    <pre>{{miFormulario.valid}}</pre>
    <span>Pristine</span>
    <pre>{{miFormulario.pristine}}</pre>
    <span>Touched</span>
    <pre>{{miFormulario.touched}}</pre>
    <span>Valid</span>
    <pre>{{miFormulario.value | json}}</pre>
  </div>
</div> 


