<h2>Template: Basicos</h2>
<hr>

<div class="row">
  <div class="col">
    <form
      (ngSubmit)="guardar()"
      #miFormulario="ngForm"
      autocomplete="off">
      <!-- Campo del producto -->
      <div class="mb-3 row">
        <label class="col-sm-3 col-form-label">Producto</label>
        <div class="col-sm-9">
          <input
            type="text"
            class="form-control"
            [ngModel]="initForm.producto"
            name="producto"
            placeholder="Nombre del producto"
            required
            minlength="3"
          >
          <span class="form-text text-danger"
                *ngIf="nombreValido()"
          >Debe de ser de 3 letras</span>
        </div>
      </div>

      <!-- Precio del producto -->
      <div class="mb-3 row">
        <label class="col-sm-3 col-form-label">Precio</label>
        <div class="col-sm-9">
          <input
            type="number"
            class="form-control"
            [ngModel]="initForm.precio"
            name="precio"
            placeholder="Precio del producto"
            minlength="0"
          >
          <span class="form-text text-danger"
            *ngIf="precioValido()"
          >El precio debe de ser 0 o mayor</span>

        </div>
      </div>

      <!-- Campo de existencias-->
      <div class="mb-3 row">
        <label class="col-sm-3 col-form-label">Existencias</label>
        <div class="col-sm-9">
          <input
            type="number"
            class="form-control"
            [ngModel]="initForm.existencia"
            name="existencias"
            customMin
            [minimo] ="0"
            placeholder="Existencias del producto"
            required
          >
        </div>
      </div>

      <div class="row">
        <div class="col">
          <button
            type="submit"
            class="btn btn-primary float-end"
            [disabled]="miFormulario.invalid"
          >
            Guardar
          </button>
        </div>
      </div>

    </form>
  </div>
</div>

<div class="row">
  <div class="col">
    <span>Valid</span>
    <pre>{{miFormulario.valid}}</pre>
    <span>Pristine</span>
    <pre>{{miFormulario.pristine}}</pre>
    <span>Touched</span>
    <pre>{{miFormulario.touched}}</pre>
    <span>Valid</span>
    <pre>{{miFormulario.value | json}}</pre>
  </div>
</div>

