<h2>Template: <small>Dinámicos</small></h2>
<hr>

<form autocomplete="off"
>
  <!-- Nombre -->
  <div class="mb-3 row">
    <label for="">Nombre</label>
    <div class="col-sm-9">
      <input type="text"
             class="form-control"
             placeholder="Nombre de la persona"

      >
      <span class="form-text text-danger"
       >Debe de ser de 3 letras</span>
    </div>
  </div>

  <!-- Agregar favorito -->
  <div class="mb-3 row">
    <label class="col-sm-3 col-form-label">Agregar</label>
    <div class="col-sm-9">
      <div class="input-group">
        <input
          type="text"
          class="form-control"
          placeholder="Agregar favorito"    
        >
        <button class="btn btn-outline-primary" type="button" >
          Agregar
        </button>
      </div>
    </div>
  </div>

  <!-- Lista de juego favoritos-->
  <div class="mb-3 row">
    <label for="" class="col-sm-3 col-form-label">Favoritos</label>
    <div class="col-sm-9">
      <!--<div class="input-group mb-1" >
        <input
          class="form-control"
        >
        <button class="btn btn-outline-danger" 
                type="button"  
                (click)="a=1"
        >
          Eliminar
        </button>
      </div>-->
    </div>
  </div>

  <div class=" row">
    <div class="col-sm-12">
      <button
        type="button"
        class="btn btn-primary float-end"
        >
        Guardar
      </button>
    </div>
  </div>

</form>

<!-- <span>Persona</span>
<pre>{{persona |json}}</pre> -->

