<h2>Template: Switches</h2>
<hr>

<form #miFormulario="ngForm">
  <div class="row mb-3">
    <label for="" class="col-sm-3 col-form-label">Género</label>
    <div class="col-sm-9">
      <div class="form-check">
        <input
          class="form-check-input"
          type="radio"
          value="M"
          [(ngModel)]="persona.genero"
          name="genero"
          id="radioMasculino"
          required
        >
        <label class="form-check-label" for="radioMasculino">
          Masculino
        </label>
      </div>
      <div class="form-check">
        <input
          class="form-check-input"
          type="radio"
          value="F"
          [(ngModel)]="persona.genero"
          name="genero"
          id="radioFemenino"
          checked
          required
        >
        <label class="form-check-label" for="radioFemenino">
          Femenino
        </label>
      </div>
    </div>
  </div>
<!-- Switches -->
  <div class="row mb-3">
    <label for="" class="col-sm-3 col-form-label">Notificaciones</label>
    <div class="col-sm-9">
      <div class="form-check form-switch mt-2">
        <input
          class="form-check-input"
          type="checkbox"
          [(ngModel)]="persona.notificaciones"
          value="persona.notificaciones"
          name="notificacion"
          id="flexSwitchCheckChecked"
        >
        <label class="form-check-label" for="flexSwitchCheckChecked">Quiero recibir notificaciones</label>
      </div>
    </div>
  </div>
  <!--checkbox  -->
  <div class="row mb-3">
    <label for="" class="col-sm-3 col-form-label"></label>
    <div class="col-sm-9">
      <div class="form-check">
        <input
          class="form-check-input"
          type="checkbox"
          value="terminos"
          id="flexCheckDefault"
          [(ngModel)]="terminosYCondiciones"
          name="terminos"
          required
        >
        <label class="form-check-label" for="flexCheckDefault">
          Terminos y condiciones
        </label>
      </div>
    </div>
  </div>
  <!-- Boton submit -->
  <div class="row">
    <div class="col">
      <button
        class="btn btn-primary float-end"
        [disabled]="miFormulario.invalid"
      >Guardar</button>
    </div>
  </div>
</form>

<h4>Valor del formulario</h4>
<span>
  <pre>{{miFormulario.value |json}}</pre>
</span>
<br>
<h4>Valor del objeto en el ts</h4>
<span>
  <pre>{{persona |json}}</pre>
</span>
<br>

<h4>Terminos y condiciones</h4>
<span>
  <pre>{{miFormulario.controls['terminos']?.errors | json}}</pre>
</span>
<br>

<h5>Valid</h5>
<pre>{{miFormulario.valid}}</pre>

<pre>Condiciones: </pre>
